<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huwei.live.mapper.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.huwei.live.pojo.Message" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="senderid" property="senderid" jdbcType="INTEGER" />
    <result column="receiverid" property="receiverid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="isAlive" property="isalive" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, senderid, receiverid, content, isAlive
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huwei.live.pojo.MessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.huwei.live.pojo.MessageExample" >
    delete from message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huwei.live.pojo.Message" >
    insert into message (id, senderid, receiverid, 
      content, isAlive)
    values (#{id,jdbcType=INTEGER}, #{senderid,jdbcType=INTEGER}, #{receiverid,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{isalive,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.huwei.live.pojo.Message" >
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="senderid != null" >
        senderid,
      </if>
      <if test="receiverid != null" >
        receiverid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="isalive != null" >
        isAlive,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="senderid != null" >
        #{senderid,jdbcType=INTEGER},
      </if>
      <if test="receiverid != null" >
        #{receiverid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="isalive != null" >
        #{isalive,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huwei.live.pojo.MessageExample" resultType="java.lang.Integer" >
    select count(*) from message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update message
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.senderid != null" >
        senderid = #{record.senderid,jdbcType=INTEGER},
      </if>
      <if test="record.receiverid != null" >
        receiverid = #{record.receiverid,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.isalive != null" >
        isAlive = #{record.isalive,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update message
    set id = #{record.id,jdbcType=INTEGER},
      senderid = #{record.senderid,jdbcType=INTEGER},
      receiverid = #{record.receiverid,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      isAlive = #{record.isalive,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huwei.live.pojo.Message" >
    update message
    <set >
      <if test="senderid != null" >
        senderid = #{senderid,jdbcType=INTEGER},
      </if>
      <if test="receiverid != null" >
        receiverid = #{receiverid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="isalive != null" >
        isAlive = #{isalive,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huwei.live.pojo.Message" >
    update message
    set senderid = #{senderid,jdbcType=INTEGER},
      receiverid = #{receiverid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      isAlive = #{isalive,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectBySIdAndRId" parameterType="java.lang.Integer" resultType="com.huwei.live.pojo.Message">
    select * from message
    where senderid = #{senderId,jdbcType=INTEGER} and receiverid = #{receiverId,jdbcType=INTEGER}
    or (senderid = #{receiverId,jdbcType=INTEGER} and receiverid = #{senderId,jdbcType=INTEGER} )
  </select>
</mapper>